.portfolioItemContainer{
    /* padding-top: 1rem;
    display: inline-block; */
    padding-top: 1rem;
    /* justify-content: center; */
    display: flex;
    text-align: center;
    align-items: center;
}

.portfolioItemContainer img{
    width: 50vw;
}
.portfolioItemContainer a{
    position: absolute;
    font-size: 2vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    background-color: rgba(255,255,255,0.5);
    color: mediumblue;
}

@media only screen and (max-width: 480px) {
    .portfolioItemContainer img {
      width: 50vh;
    }
    .portfolioItemContainer a{
        position: absolute;
        font-size: 4vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        background-color: rgba(255,255,255,0.5);
        color: mediumblue;
    }
    }